.more_images__img {
    width: 45%;
}
.more_images{
    display: flex;
    justify-content: center;
}

.more_image__load_imge{
    padding: 17px;
    border: 4px none var(--red_b);
    border-style: dashed solid;
}

.more_images__guie_inputs{
    border-bottom: 1px solid red ;
}
.more_images__description{
    width: 50%;
    min-width: max-content;
    text-align: center;
    background-color: transparent;
    margin-bottom: 6px;
}
.postContainer{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doneContainer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 700px){
    .more_images__img {
        width: 65%;
    }
}