.full {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.button_register__container{
    position: absolute;
    z-index: 50;
    background-color: var(--black_c);
    padding: 12px;
    border-radius: 16px;
    border: 2px solid var(--black_b);
    cursor: pointer;
}
.container_principal_img{
    box-shadow: 0 0 0 0 var(--black_b);
}