.mar {
    height: 54px;
}
.header {
    top: 0;
    left: 0;
    align-items: end;
    position:fixed;
    z-index: 100;
    width: 100%;
}
.nav {
    width: 100%;
    background-image:
     linear-gradient(166deg, var(--black_c)  75%,
     var(--red_e));
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    align-items: center;
}
.header__search_container {
    position: relative;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: var(--black_e);
}
.header__i_search {
    position: absolute;
    right: 12px;
    background: transparent;
    border-style: none;
}
.header__i_search:hover {
    color: var(--black_a);
}
.header__container__button {

    cursor: pointer;
} 
.header__container__button:hover {
    color: var(--color_hover);
}
.header__button {
    display: inline-block;
}

.header__icon {
    border-radius: 50%;
    height: fit-content;
    overflow: hidden;
}
.header__session_login {
    display: flex;
    align-items: center;
}
.header__userName {
    margin-right: 6px;
}

.window_session {
    right: 0;
    width: 38%;
    font-size: 20px;
    background-color: var(--black_e);
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 12px;
    border: 2px none var(--red_d);
    border-style: none none solid solid;
}
.window_button_option {
    cursor: pointer;
    padding: 0 12px 0 12px;
    border-radius: 0 0 16px 16px;
    background-image: linear-gradient(to top, var(--red_a) 20%, transparent 40%);
}
.window_button_option:hover {
    background-image: linear-gradient(to top, var(--color_hover) 20%, transparent 40%);
}


@media screen and (min-width:900px) {
    
    .header__userName {
        margin-right: 12px;
    }
}