.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: fit-content;
    padding: 12px;
    background-color: var(--black_c);
    border-radius: 12px;
}