:root{
    --red_a: 191, 0, 0;
    --red_b: 128, 0, 0;
    --red_c: 255, 0, 0;
    --red_d: 64, 0, 0;
    --red_e: 230, 0, 0;

    --black_a: 140, 140, 140;
    --black_b: 77, 77, 77;
    --black_c: 0, 0, 0;
    --black_d: 51, 51, 51;
}

*{
    font-family: Verdana, Tahoma, sans-serif;
    font-size:18px;
}
.prueba{
    background-color:#9E594B;
}

.backzero{
    border: 0;
    /* margin-right: 15px; */
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
}
.hidden{
    display : none;
}
#body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--principal-gris);
}
.all{
    max-width: 1300px;
    width: 85%;
}
ul{
    padding-left: 0;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin:0%

}

.principal-header{
    position: relative;
    height: fit-content;
}

.fix{
    position:fixed;
    z-index: 150;
}

.header_fix {
    width: 100%;
}

.marHeader{
    background-color: var(--principal-gris);
    display:flex;
    justify-content:flex-end;

    opacity: 0.8;
    width: auto;
}
.iniciar{
    width:fit-content;
}

.flexPassword{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.aspect{
    width:100%;
    padding-left: 10px;
    border: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #fff5;
    border-bottom: 3px solid #055;
    border-radius:2px 2px 1px 1px;
}
.aspect:focus-visible{
    outline: none;
    
}


.fix .rigth div a{
    display: inline-block;
    margin: 6px 5px;
}
.pestana{
    position:fixed;
    opacity: 0.98;
    min-width: fit-content;
    width: 30%;
    max-width: 470px;
    background: #9E594B;
    right: 0%;
    height: fit-content;
    z-index: 200;
    border: 5px solid #89483a;
    border-radius: 5px 0 5px 5px;
}
.margin_sign{
    margin: 32px 16px;
}
.from-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full{
    width: 65%;
    display: flex;
    margin: 0 4% 0 4%;
    justify-content: center;
    align-items: center;
}
.send{
    background-color: #fE524Bff;
    margin-bottom: 20px;
    border: 0;
    border-radius: 4px;
}
.send:hover{
    background-color: #fE524B88;
}


a{
    text-decoration: none;
}
.white{
    color: #fff;
}
.littleUp{
    position: relative;
    top: -8px;
}

.stuffed{
    width: 100%;
    height: 450px;   
    border-radius: 0 0 6px 6px;
    border-bottom: 3px solid #9E594B ;
    object-fit:cover;
}



.stuffed img{
    border-radius:inherit;
    width:inherit;
    height: inherit;
    min-width: 311px;
    z-index: 10;
}
.botonMarco{
    position: absolute;
    display: flex;
    min-width: fit-content;
    width: 40%;
    max-width:360px;
    z-index: 50; 
    justify-content: center;  
}
.boton{
    width: 100%; 
    opacity: 0.83;
    min-height: fit-content;
    border:2px solid var(--dark);
    border-radius: 30px;
    height: 50px;
    min-width: fit-content;
    background-color: var(--principal-gris);
}

.centeText{
    text-align: center;
}


.boton a{
    display: flex;
    min-width: fit-content;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.boton a b{
    margin:0 4px 0 4px;
    
}

.h2-pagina-principal{
    font-size: 20px;
    color: rgb(48, 182, 182);
    margin: 0;
}
.tem{
    display: flex;
    margin-top: 12px;
    padding: 10px;
    width: 90%;
    height: fit-content;
    background-color: var(--gris-claro);
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}
.footer{
    margin: 6px 0;
    display: flex;
    justify-content: space-around;
}

.text{
    width: 100%;
    min-width: 300px;
    background-color: var(--gris-claro);
    border-radius: 6px;
    color: #ddd;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 5px 12px 5px 12px;
}
.icon{
height:19px;
}
.text p{
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 3px;
    margin-bottom: 3px;
}
.text ul{
    padding-left: 20px;
}
.banner{
    width:100%;
    padding: 4px 0;
    background-color: var(--dark);
    min-width: 311px;
}
.feedback:hover{
    color: #aaa;
}
.feedback_boton:hover{
    background-color: var(--dark);
    opacity: 1;
}

@media screen and (min-width: 470px) {
    .all{
        width: 100%;
    }
    .margin_sign{
        margin: 20px 10px 0 10px;
    }
    .full{
        width: 100%;
        margin: 0;
    }
    .stuffed{
        height: 220px;
    }
    *{
        font-size: 12px;
    }
    .backzero{
        font-size:18px;
    }
}
@media screen and (min-width: 700px){
    .backzero{
        font-size:18px;
        padding-right: 12px;
    }
    .margin_sign{
        margin: 20px 10px 0 10px;
    }
    .full{
        width: 100%;
        margin: 0;
    }
    .stuffed{
        height: 320px;
    }
    *{
        font-size: 16px;
    }
}
@media screen and (min-width:700px) and (max-width:900px){
    
    .text{
        width: 87%;
    }
    .full{
        width: 80%;
        margin: 0 2% 0 2%;
    }
    .stuffed{
        height: 380px;
    }
    .backzero{
        font-size:18px;
    }
}