.Flex-navegador-user{
    background-color: var(--colorSegundario-oscuro-menor-opacidad);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    min-width: 60px;
    height:fit-content;
    padding: 12px;
    border:2px none var(--blanco-con-opacidad);
    border-style: none solid solid solid;
    box-shadow: -1px 2px 0 2px var(--colorPrincipal-claro-opaco);

}
.p-de-navegador{
    color: #ccc;
    height:fit-content;
    margin: 12px 0;
    padding: 2px 4px;
    background-color: var(--colorPrincipal-claro-opaco-plus);
    border-radius: 5px;
    border: 1px solid var(--colorPrincipal-claro-opaco);
    border-style: none none solid none;
}
.p-de-navegador:hover{

    background-image: linear-gradient(to top, var(--colorPrincipal-claro-opaco),var(--colorPrincipal-claro-opaco-plus));

}
