.icono-press:hover {
  filter: sepia(30%);
}

.change-icon {
  max-width: fit-content;
  padding: 12px;
  overflow: hidden;
  animation-name: despliegeHaciaAbajo;
  animation-duration: 0.2s;
  border: 4px none var(--colorComstrante-normal-oscuro);
  border-style: none dashed dashed none;
  border-radius: 0 4px;
  background-image: linear-gradient(to bottom right, var(--black-trancition), var(--black));
}

.renderIcono {
  max-width: 120px;
  max-height: 250px;
  object-fit: cover;
}

.divrCamaraIcono {
  position: absolute;
  z-index: 10;
  height: fit-content;
  width: fit-content;
}

.mobile {
  display: none;
}

.camara-background-icono {
  border: 3px solid var(--blanco-poca-opacidad);
  border-radius: 50%;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  background-color: var(--gris-super-claro-opacity);
  padding: 5px;
}
